body
{
	margin: 0px auto;
	padding: 0;
}
.main
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.menu
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.slider
{
	width: 100%;
	margin: 0px auto;
	padding: 0;
}
.conup1
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.conup2
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.conup3
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.conup4
{
	width: 1450px;

	margin: 0px auto;
	padding: 0;
}
.conup5
{
	width: 1450px;
	
	margin: 0px auto;
	padding: 0;
}
.conup6
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.conup7
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.conup8
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.conup9
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}
.footer
{
	width: 1450px;
	margin: 0px auto;
	padding: 0;
}